---
train:

    params:
        batch_size: 512
        epoch: 50
        lr: 0.0005
        decay: 0.5
        decay_step: 20
        warmup: 5

    save:
        metapath: "/content/Transformer/ComTrans/exp/Transformer-6layers"
        folder: gaze360
        model_name: trans6
        step: 10

    data:
        image: "/content/Gaze360data_preprocessed/Image"
        label: "/content/Gaze360data_preprocessed/Label"
        header: True
        name: gaze360
        isFolder: False
        
    pretrain:
        enable: True
        path: "/content/Transformer/ComTrans/exp/Transformer-6layers/gaze360/checkpoint/GazeTR-H-ETH.pt"
        device: 0

    device: 0

    reader: reader

# dropout = 0
# dim_feed = 512
